<div class="column is-full columns is-multiline" id="technique-1">
  <input type="text" class="input technique-name-1" placeholder="Name" />
  <div class="control">
    <label for="">
      <input type="radio" name="stance-1" value="Defend and Maneuver" id="" />
      Defend and Maneuver
    </label>
    <label for="">
      <input type="radio" name="stance-1" value="Advance and Attack" id="" />
      Advance and Attack
    </label>
    <label for="">
      <input type="radio" name="stance-1" value="Evade and Observe" id="" />
      Evade and Observe
    </label>
  </div>
  <div class="select is-small">
    <select name="" class="technique-level-1">
      <option>Learned</option>
      <option>Practised</option>
      <option>Mastered</option>
    </select>
  </div>
  <textarea
    name=""
    id=""
    class="textarea technique-desc-1 column is-full"
    cols="30"
    rows="5"
    placeholder="Description"
  ></textarea>
</div>
<div class="column is-full columns is-multiline" id="technique-2">
  <input type="text" class="input technique-name-2" placeholder="Name" />
  <div class="control">
    <label for="">
      <input type="radio" name="stance-2" value="Defend and Maneuver" id="" />
      Defend and Maneuver
    </label>
    <label for="">
      <input type="radio" name="stance-2" value="Advance and Attack" id="" />
      Advance and Attack
    </label>
    <label for="">
      <input type="radio" name="stance-2" value="Evade and Observe" id="" />
      Evade and Observe
    </label>
  </div>
  <div class="select is-small">
    <select name="" class="technique-level-2">
      <option>Learned</option>
      <option>Practised</option>
      <option>Mastered</option>
    </select>
  </div>
  <textarea
    name=""
    id=""
    class="textarea technique-desc-2 column is-full"
    cols="30"
    rows="5"
    placeholder="Description"
  ></textarea>
</div>
<div class="column is-full columns is-multiline" id="technique-3">
  <input type="text" class="input technique-name-3" placeholder="Name" />
  <div class="control">
    <label for="">
      <input type="radio" name="stance-3" value="Defend and Maneuver" id="" />
      Defend and Maneuver
    </label>
    <label for="">
      <input type="radio" name="stance-3" value="Advance and Attack" id="" />
      Advance and Attack
    </label>
    <label for="">
      <input type="radio" name="stance-3" value="Evade and Observe" id="" />
      Evade and Observe
    </label>
  </div>
  <div class="select is-small">
    <select name="" class="technique-level-3">
      <option>Learned</option>
      <option>Practised</option>
      <option>Mastered</option>
    </select>
  </div>
  <textarea
    name=""
    id=""
    class="textarea technique-desc-3 column is-full"
    cols="30"
    rows="5"
    placeholder="Description"
  ></textarea>
</div>
<div class="column is-full columns is-multiline" id="technique-4">
  <input type="text" class="input technique-name-4" placeholder="Name" />
  <div class="control">
    <label for="">
      <input type="radio" name="stance-4" value="Defend and Maneuver" id="" />
      Defend and Maneuver
    </label>
    <label for="">
      <input type="radio" name="stance-4" value="Advance and Attack" id="" />
      Advance and Attack
    </label>
    <label for="">
      <input type="radio" name="stance-4" value="Evade and Observe" id="" />
      Evade and Observe
    </label>
  </div>
  <div class="select is-small">
    <select name="" class="technique-level-4">
      <option>Learned</option>
      <option>Practised</option>
      <option>Mastered</option>
    </select>
  </div>
  <textarea
    name=""
    id=""
    class="textarea technique-desc-4 column is-full"
    cols="30"
    rows="5"
    placeholder="Description"
  ></textarea>
</div>
<div class="column is-full columns is-multiline" id="technique-5">
  <input type="text" class="input technique-name-5" placeholder="Name" />
  <div class="control">
    <label for="">
      <input type="radio" name="stance-5" value="Defend and Maneuver" id="" />
      Defend and Maneuver
    </label>
    <label for="">
      <input type="radio" name="stance-5" value="Advance and Attack" id="" />
      Advance and Attack
    </label>
    <label for="">
      <input type="radio" name="stance-5" value="Evade and Observe" id="" />
      Evade and Observe
    </label>
  </div>
  <div class="select is-small">
    <select name="" class="technique-level-5">
      <option>Learned</option>
      <option>Practised</option>
      <option>Mastered</option>
    </select>
  </div>
  <textarea
    name=""
    id=""
    class="textarea technique-desc-5 column is-full"
    cols="30"
    rows="5"
    placeholder="Description"
  ></textarea>
</div>
<div class="column is-full columns is-multiline" id="technique-6">
  <input type="text" class="input technique-name-6" placeholder="Name" />
  <div class="control">
    <label for="">
      <input type="radio" name="stance-6" value="Defend and Maneuver" id="" />
      Defend and Maneuver
    </label>
    <label for="">
      <input type="radio" name="stance-6" value="Advance and Attack" id="" />
      Advance and Attack
    </label>
    <label for="">
      <input type="radio" name="stance-6" value="Evade and Observe" id="" />
      Evade and Observe
    </label>
  </div>
  <div class="select is-small">
    <select name="" class="technique-level-6">
      <option>Learned</option>
      <option>Practised</option>
      <option>Mastered</option>
    </select>
  </div>
  <textarea
    name=""
    id=""
    class="textarea technique-desc-6 column is-full"
    cols="30"
    rows="5"
    placeholder="Description"
  ></textarea>
</div>