<div class="column is-full columns is-multiline">
  <input type="text" class="input techique-name-1" placeholder="Name" />
  <div class="control">
    <label for="">
      <input type="radio" name="stance-1" id="" />
      Defend and Maneuver
    </label>
    <label for="">
      <input type="radio" name="stance-1" id="" />
      Advance and Attack
    </label>
    <label for="">
      <input type="radio" name="stance-1" id="" />
      Evade and Observe
    </label>
  </div>
  <div class="select is-small">
    <select name="" class="technique-level-1">
      <option>Learned</option>
      <option>Practised</option>
      <option>Mastered</option>
    </select>
  </div>
  <textarea
    name=""
    id=""
    class="textarea technique-1 column is-full"
    cols="30"
    rows="5"
    placeholder="Description"
  ></textarea>
</div>
<div class="column is-full columns is-multiline">
  <input type="text" class="input techique-name-2" placeholder="Name" />
  <div class="control">
    <label for="">
      <input type="radio" name="stance-2" id="" />
      Defend and Maneuver
    </label>
    <label for="">
      <input type="radio" name="stance-2" id="" />
      Advance and Attack
    </label>
    <label for="">
      <input type="radio" name="stance-2" id="" />
      Evade and Observe
    </label>
  </div>
  <div class="select is-small">
    <select name="" class="technique-level-2">
      <option>Learned</option>
      <option>Practised</option>
      <option>Mastered</option>
    </select>
  </div>
  <textarea
    name=""
    id=""
    class="textarea technique-2 column is-full"
    cols="30"
    rows="5"
    placeholder="Description"
  ></textarea>
</div>
<div class="column is-full columns is-multiline">
  <input type="text" class="input techique-name-3" placeholder="Name" />
  <div class="control">
    <label for="">
      <input type="radio" name="stance-3" id="" />
      Defend and Maneuver
    </label>
    <label for="">
      <input type="radio" name="stance-3" id="" />
      Advance and Attack
    </label>
    <label for="">
      <input type="radio" name="stance-3" id="" />
      Evade and Observe
    </label>
  </div>
  <div class="select is-small">
    <select name="" class="technique-level-3">
      <option>Learned</option>
      <option>Practised</option>
      <option>Mastered</option>
    </select>
  </div>
  <textarea
    name=""
    id=""
    class="textarea technique-3 column is-full"
    cols="30"
    rows="5"
    placeholder="Description"
  ></textarea>
</div>
<div class="column is-full columns is-multiline">
  <input type="text" class="input techique-name-4" placeholder="Name" />
  <div class="control">
    <label for="">
      <input type="radio" name="stance-4" id="" />
      Defend and Maneuver
    </label>
    <label for="">
      <input type="radio" name="stance-4" id="" />
      Advance and Attack
    </label>
    <label for="">
      <input type="radio" name="stance-4" id="" />
      Evade and Observe
    </label>
  </div>
  <div class="select is-small">
    <select name="" class="technique-level-4">
      <option>Learned</option>
      <option>Practised</option>
      <option>Mastered</option>
    </select>
  </div>
  <textarea
    name=""
    id=""
    class="textarea technique-4 column is-full"
    cols="30"
    rows="5"
    placeholder="Description"
  ></textarea>
</div>
<div class="column is-full columns is-multiline">
  <input type="text" class="input techique-name-5" placeholder="Name" />
  <div class="control">
    <label for="">
      <input type="radio" name="stance-5" id="" />
      Defend and Maneuver
    </label>
    <label for="">
      <input type="radio" name="stance-5" id="" />
      Advance and Attack
    </label>
    <label for="">
      <input type="radio" name="stance-5" id="" />
      Evade and Observe
    </label>
  </div>
  <div class="select is-small">
    <select name="" class="technique-level-5">
      <option>Learned</option>
      <option>Practised</option>
      <option>Mastered</option>
    </select>
  </div>
  <textarea
    name=""
    id=""
    class="textarea technique-5 column is-full"
    cols="30"
    rows="5"
    placeholder="Description"
  ></textarea>
</div>
<div class="column is-full columns is-multiline">
  <input type="text" class="input techique-name-6" placeholder="Name" />
  <div class="control">
    <label for="">
      <input type="radio" name="stance-6" id="" />
      Defend and Maneuver
    </label>
    <label for="">
      <input type="radio" name="stance-6" id="" />
      Advance and Attack
    </label>
    <label for="">
      <input type="radio" name="stance-6" id="" />
      Evade and Observe
    </label>
  </div>
  <div class="select is-small">
    <select name="" class="technique-level-6">
      <option>Learned</option>
      <option>Practised</option>
      <option>Mastered</option>
    </select>
  </div>
  <textarea
    name=""
    id=""
    class="textarea technique-6 column is-full"
    cols="30"
    rows="5"
    placeholder="Description"
  ></textarea>
</div>