<div class="column columns is-two-thirds is-multiline" id="playbook-details">
    <h3
      class="title column is-full is-underlined is-uppercase"
      id="playbook-detail-title"
    >
      Playbook Character Details
    </h3>
    <p>
  {{> playbook-details/adamant}}
    </p>
  </div>
<div class="column columns is-multiline" id="moves-container">
    <h3 class="title column is-full is-underlined is-uppercase">Moves</h3>
    {{> playbook-moves/adamant}}
</div>
