<section class="column columns is-full">
  <!-- playbook and background -->
  <div class="column container columns is-multiline">
    <div class="playbook select">
      <select class="playbook-items" id="playbook">
        <option selected disabled>Playbook</option>
        <option value="The Adamant">The Adamant</option>
        <option value="The Bold">The Bold</option>
        <option value="The Guardian">The Guardian</option>
        <option value="The Hammer">The Hammer</option>
        <option value="The Icon">The Icon</option>
        <option value="The Idealist">The Idealist</option>
        <option value="The Pillar">The Pillar</option>
        <option value="The Prodigy">The Prodigy</option>
        <option value="The Rogue">The Rogue</option>
        <option value="The Successor">The Successor</option>
        <option value="The Destined">The Destined</option>
        <option value="The Elder">The Elder</option>
        <option value="The Foundling">The Foundling</option>
        <option value="The Razor">The Razor</option>
      </select>
    </div>
    <div class="background select">
      <select class="" name="" id="background">
        <option selected disabled>Background</option>
        <option value="Military">Military</option>
        <option value="Monastic">Monastic</option>
        <option value="Outlaw">Outlaw</option>
        <option value="Privileged">Privileged</option>
        <option value="Urban">Urban</option>
        <option value="Wilderness">Wilderness</option>
      </select>
    </div>
    <div class="demeanor select">
      <select name="" id="demeanor">
        <option selected disabled>Demeanor</option>
        <option value="Childish">Childish</option>
        <option value="Fierce">Fierce</option>
        <option value="Imperious">Imperious</option>
        <option value="Overbearing">Overbearing</option>
        <option value="Proper">Proper</option>
        <option value="Strange">Strange</option>
      </select>
    </div>
    <textarea
      name="fighting-style"
      id="fighting-style"
      cols="10"
      rows="2"
      class="textarea m-0"
      placeholder="Fighting Style"
    ></textarea>
  </div>
  <div class="column is-three-fifths container columns is-multiline px-5">
    <input
      type="text"
      name="name"
      id="name"
      class="column"
      placeholder="Character Name"
    />
    <!-- training -->
    <h3 class="is-size-4 column is is-full has-text-centered">
      Your Training
    </h3>
    <div class="training control column columns">
      <label class="radio column px-0 is-size-2">
        <input type="radio" name="training" id="water" value="water" />
        💧
      </label>

      <label class="radio column px-0 is-size-2">
        <input type="radio" name="training" id="earth" value="earth" />
        ⛰️
      </label>

      <label class="radio column px-0 is-size-2">
        <input type="radio" name="training" id="fire" value="fire" />
        🔥
      </label>

      <label class="radio column px-0 is-size-2">
        <input type="radio" name="training" id="air" value="air" />
        🌪️
      </label>

      <label class="radio column px-0 is-size-2">
        <input type="radio" name="training" id="weapons" value="weapons" />
        ⚔️
      </label>

      <label class="radio column px-0 is-size-2">
        <input
          type="radio"
          name="training"
          id="technology"
          value="technology"
        />
        ⚙️
      </label>
    </div>
  </div>

  <!-- statuses -->
  <div
    class="column container columns is-multiline has-text-white has-background-link m-2 p-1"
  >
    <!-- positive -->
    <div class="container column p-0">
      <h3 class="column">Positive</h3>
      <div class="column columns is-multiline is-size-7">
        <label class="checkbox column is-full">
          <input
            type="checkbox"
            name="Empowered"
            id="Empowered"
            class="pos-stats"
          />
          Empowered
        </label>
        <label class="checkbox column is-full">
          <input
            type="checkbox"
            name="Favored"
            id="Favored"
            class="pos-stats"
          />
          Favored
        </label>
        <label class="checkbox column is-full">
          <input
            type="checkbox"
            name="Inspired"
            id="Inspired"
            class="pos-stats"
          />
          Inspired
        </label>
        <label class="checkbox column is-full">
          <input
            type="checkbox"
            name="Prepared"
            id="Prepared"
            class="pos-stats"
          />
          Prepared
        </label>
      </div>
    </div>

    <!-- negative -->
    <div class="container column p-0">
      <h3 class="column">Negative</h3>
      <div class="column columns is-multiline is-size-7">
        <label class="checkbox column is-full">
          <input type="checkbox" name="Doomed" id="Doomed" class="neg-stats" />
          Doomed
        </label>
        <label class="checkbox column is-full">
          <input
            type="checkbox"
            name="Impaired"
            id="Impaired"
            class="neg-stats"
          />
          Impaired
        </label>
        <label class="checkbox column is-full">
          <input
            type="checkbox"
            name="Trapped"
            id="Trapped"
            class="neg-stats"
          />
          Trapped
        </label>
        <label class="checkbox column is-full">
          <input
            type="checkbox"
            name="Stunned"
            id="Stunned"
            class="neg-stats"
          />
          Stunned
        </label>
      </div>
    </div>
  </div>
</section>

<section class="column is-full">
  <!-- stats -->
  <div
    class="box has-background-info-light columns is-centered has-text-centered"
  >
    <div class="column columns is-multiline">
      <h3 class="column is-full is-size-4">Stats</h3>
      <div class="column columns is-full has-text-left">
        <div class="select">
          <select name="creativity" id="creativity">
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
            <option value="0">0</option>
            <option value="-1">-1</option>
          </select>
        </div>
        <h3 class="column" id="creativit">
          Creativity
          <span id="creat-default"></span>
        </h3>
      </div>
      <div class="column columns is-full has-text-left">
        <div class="select">
          <select name="focus" id="">
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
            <option value="0">0</option>
            <option value="-1">-1</option>
          </select>
        </div>
        <h3 class="column">Focus</h3>
      </div>
      <div class="column columns is-full has-text-left">
        <div class="select">
          <select name="harmony" id="">
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
            <option value="0">0</option>
            <option value="-1">-1</option>
          </select>
        </div>
        <h3 class="column">Harmony</h3>
      </div>
      <div class="column columns is-full has-text-left">
        <div class="select">
          <select name="passion" id="">
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
            <option value="0">0</option>
            <option value="-1">-1</option>
          </select>
        </div>
        <h3 class="column">Passion</h3>
      </div>

      <!-- fatigue -->
      <div class="container">
        <h3>Fatigue</h3>
        <div class="control">
          <input type="checkbox" name="1" id="" class="fatigue-markers mx-3" />
          <input type="checkbox" name="2" id="" class="fatigue-markers mx-3" />
          <input type="checkbox" name="3" id="" class="fatigue-markers mx-3" />
          <input type="checkbox" name="4" id="" class="fatigue-markers mx-3" />
          <input type="checkbox" name="5" id="" class="fatigue-markers mx-3" />
        </div>
      </div>
    </div>

    <!-- balance of principles -->
    <div class="column">
      <h3 class="is-size-4">Balance</h3>
      <br />
      <br />
      <br />
      <h3 class="has-text-left is-size-3" id="principle-1">
        Principle 1
      </h3>
      <div class="columns is-multiline">
        <div class="control column is-full pb-0">
          <input
            type="radio"
            name="balance"
            value="3"
            id="balance3"
            class="mx-3"
          />
          <input
            type="radio"
            name="balance"
            value="2"
            id="balance2"
            class="mx-3"
          />
          <input
            type="radio"
            name="balance"
            value="1"
            id="balance1"
            class="mx-3"
          />
          <input
            type="radio"
            name="balance"
            value="0"
            id="balance0"
            class="mx-3"
          />
          <input
            type="radio"
            name="balance"
            value="-1"
            id="balance-1"
            class="mx-3"
          />
          <input
            type="radio"
            name="balance"
            value="-2"
            id="balance-2"
            class="mx-3"
          />
          <input
            type="radio"
            name="balance"
            value="-3"
            id="balance-3"
            class="mx-3"
          />
        </div>
        <div class="columns column is-gapless py-0">
          <label for="balance3" class="column px-0">3</label>
          <label for="balance2" class="column px-0">2</label>
          <label for="balance1" class="column px-0">1</label>
          <label for="balance0" class="column px-0">0</label>
          <label for="balance-1" class="column px-0">-1</label>
          <label for="balance-2" class="column px-0">-2</label>
          <label for="balance-3" class="column px-0">-3</label>
        </div>
      </div>
      <h3 class="has-text-right is-size-3" id="principle-2">
        Principle 2
      </h3>
    </div>

    <!-- conditions -->
    <div class="column">
      <h3 class="is-size-4">Conditions</h3>
      <br />
      <div class="container columns is-multiline has-text-left pl-6">
        <label for="Afraid" class="checkbox column is-full">
          <input type="checkbox" name="" id="Afraid" class="conditions" />
          <span class="is-size-5">Afraid:</span>
          take -2 to intimidate and call someone out
        </label>
        <label for="Angry" class="checkbox column is-full">
          <input type="checkbox" name="" id="Angry" class="conditions" />
          <span class="is-size-5">Angry:</span>
          take -2 to guide and comfort and assess a situation
        </label>
        <label for="Guilty" class="checkbox column is-full">
          <input type="checkbox" name="" id="Guilty" class="conditions" />
          <span class="is-size-5">Guilty:</span>
          take -2 to push your luck and deny a callout
        </label>
        <label for="Insecure" class="checkbox column is-full">
          <input type="checkbox" name="" id="Insecure" class="conditions" />
          <span class="is-size-5">Insecure:</span>
          take -2 to trick and resist shifting your balance
        </label>
        <label for="Troubled" class="checkbox column is-full">
          <input type="checkbox" name="" id="Troubled" class="conditions" />
          <span class="is-size-5">Troubled:</span>
          take -2 to plead and rely on your skills or training
        </label>
      </div>
    </div>
  </div>
</section>

<section class="column columns is-vcentered is-full has-text-centered">
    {{> character-details}}
</section>

<section class="column columns is-full is-multiline">
  <!-- charcter info -->
  <div class="column columns is-two-fifths is-multiline">
    <h3 class="column title is-full">Your Character</h3>
    <!-- looks -->
    <div class="column is-full columns is-multiline">
      <h3 class="column is-full has-text-weight-bold">Look:</h3>
      <textarea
        name="look"
        id="look"
        cols="30"
        rows="5"
        class="column textarea"
      ></textarea>
    </div>
    <!-- home town -->
    <label for="hometown" class="column columns is-full control">
      <h3>Home Town:</h3>
      <input type="text" id="hometown" class="input" />
    </label>
    <!-- history -->
    <div class="column columns is-multiline is-full">
      <h3 class="column is-full has-text-weight-bold">History</h3>
      <textarea
        name="history"
        id=""
        cols="30"
        rows="10"
        class="textarea"
      ></textarea>
    </div>
    <!-- connections -->
    <div class="column is-full columns is-multiline">
      <h3 class="column is-full has-text-weight-bold">Connections</h3>
      <p class="column is-full" id="connection-p-1">
        <input type="text" name="connection-1" id="connection-1" />
        takes issue with my methods—perhaps they have a point, but I certainly
        can't admit that to them!
      </p>
      <p class="column is-full" id="connection-p-2">
        <input type="text" name="connection-2" id="connection-2" />
        is my lodestar; something about them makes them the one person I let my
        guard down around.
      </p>
    </div>
    <!-- moment of balance -->
    <div class="column is-full columns is-multiline">
      <h3 class="column is-full has-text-weight-bold">
        Moment of Balance
      </h3>
      <p class="column is-full" id="MoB-details">
        You've held true to a core of conviction even while getting your hands
        dirty to do what you deemed necessary. But balance means appreciating
        that other people are just as complex as you are, not merely obstacles
        or pawns. Tell the GM how you solve an intractable problem or calm a
        terrible conflict by relating to dangerous people on a human level.
      </p>
    </div>
    <!-- clear conditions -->
    <div class="column is-full columns is-multiline">
      <h3 class="column is-full has-text-weight-bold">
        Clearing Conditions
      </h3>
      <ul class="column is-full">
        <li style="list-style: disc inside">
          <span class="has-text-weight-bold">Afraid:</span>
        </li>
        <li style="list-style: disc inside">
          <span class="has-text-weight-bold">Angry:</span>
        </li>
        <li style="list-style: disc inside">
          <span class="has-text-weight-bold">Guilty:</span>
        </li>
        <li style="list-style: disc inside">
          <span class="has-text-weight-bold">Insecure:</span>
        </li>
        <li style="list-style: disc inside">
          <span class="has-text-weight-bold">Troubled:</span>
        </li>
      </ul>
    </div>
    <!-- growth -->
    <div class="column is-full columns is-multiline">
      <h3 class="column is-2">Growth:</h3>
      <label for="" class="control column is-1"><input
          type="checkbox"
          class=""
        /></label><label for="" class="control column is-1"><input
          type="checkbox"
          class=""
        /></label><label for="" class="control column is-1"><input
          type="checkbox"
          class=""
        /></label><label for="" class="control column is-1"><input
          type="checkbox"
          class=""
        /></label>
      <p class="column is-full">
        Growth Quiestion
        <br />
        At the end of each question, answer this question with the other growth
        questions:
      </p>
      <p class="column is-full" id="growth-question"></p>
      <h3 class="column is-full">Growth Advancements</h3>
      <ul class="column is-full">
        <li style="list-style: disc inside">
          Take a new move from your playbook
          <input
            type="checkbox"
            name="new-move-self-1"
            class="growth-adv"
            id=""
          />
          <input
            type="checkbox"
            name="new-move-self-2"
            class="growth-adv"
            id=""
          />
        </li>
        <li style="list-style: disc inside">
          Take a new move from another playbook
          <input
            type="checkbox"
            name="new-move-other-1"
            class="growth-adv"
            id=""
          />
          <input
            type="checkbox"
            name="new-move-other-2"
            class="growth-adv"
            id=""
          />
        </li>
        <li style="list-style: disc inside">
          Raise a stat by +1 (max +2)
          <input type="checkbox" name="raise-stat-1" class="growth-adv" id="" />
          <input type="checkbox" name="raise-stat-2" class="growth-adv" id="" />
        </li>
        <li style="list-style: disc inside">
          Shift your center one step
          <input
            type="checkbox"
            name="shift-center-1"
            class="growth-adv"
            id=""
          />
          <input
            type="checkbox"
            name="shift-center-2"
            class="growth-adv"
            id=""
          />
        </li>
        <li style="list-style: disc inside">
          Unlock your Moment of Balance
          <input type="checkbox" name="MoB-1" class="growth-adv" id="" />
          <input type="checkbox" name="MoB-2" class="growth-adv" id="" />
        </li>
      </ul>
    </div>
  </div>
  <!-- fighting techniques -->
  <div class="column is-three-fifths"></div>
</section>