<label for="this was a victory" class="checkbox column is-full">
  <input
    type="checkbox"
    class="moves"
    name="this was a victory"
    id="this was a victory"
  />
  <span class="is-size-5 is-uppercase">This Was a Victory</span>
  <p>When you reveal that you have sabotaged a building, device, or vehicle
    right as it becomes relevant, mark fatigue and roll with Passion . On a hit,
    your work pays off, creating an opportunity for you and your allies at just
    the right time. On a 7-9, the opportunity is fleeting—act fast to stay ahead
    of the consequences. On a miss, your action was ill-judged and something or
    someone you care about is hurt as collateral damage.</p>
</label>

<label for="takes one to know one" class="checkbox column is-full">
  <input
    type="checkbox"
    class="moves"
    name="takes one to know one"
    id="takes one to know one"
  />
  <span class="is-size-5 is-uppercase">Takes One to Know One</span>
  <p>When you verbally needle someone by finding the weaknesses in their armor,
    roll with Focus. On a hit, ask 1 question. On a 7-9, they ask 1 of you as
    well:
    <br />
    • What is your principle?
    <br />
    • What do you need to prove?
    <br />
    • What could shake your certainty?
    <br />
    • Whom do you care about more than you let on?
    <br />
    Anyone who lies or stonewalls marks 2-fatigue. On a miss, your attack leaves
    you exposed; they may ask you any one question from the list, and you must
    answer honestly.</p>
</label>

<label for="no time for feelings" class="checkbox column is-full">
  <input
    type="checkbox"
    class="moves"
    name="no time for feelings"
    id="no time for feelings"
  />
  <span class="is-size-5 is-uppercase has-text-">No Time For Feelings</span>
  <p>When you have equal or fewer conditions marked than your highest principle,
    mark fatigue to push down your feelings for the rest of the scene and ignore
    condition penalties until the end of the scene. When you resist an NPC
    shifting your balance, mark a condition to roll with conditions marked (max
    +4). You cannot then choose to clear a condition by immediately proving them
    wrong.</p>
</label>

<label for="i don't hate you" class="checkbox column is-full">
  <input
    type="checkbox"
    class="moves"
    name="i don't hate you"
    id="i don't hate you"
  />
  <span class="is-size-5 is-uppercase">i don't hate you</span>
  <p>When you guide and comfort someone in an awk- ward, understated, or
    idiosyncratic fashion, roll with Passion instead of Harmony if you mark
    Insecure or Insecure is already marked.
  </p>
</label>

<label for="driven by justice" class="checkbox column is-full">
  <input
    type="checkbox"
    class="moves"
    name="driven by justice"
    id="driven by justice"
  />
  <span class="is-size-5 is-uppercase">driven by Justice</span>
  <p>Take +1 to Passion (max +3).</p>
</label>